
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <title>Starter Template for Bootstrap</title>

    {% stylesheets
        'bundles/phpcastswebsite/css/*'
        'bundles/phpcastswebsite/assets/bootstrap/css/bootstrap.min.css'
        'bundles/phpcastswebsite/assets/font-awesome/css/font-awesome.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('php_casts_website_homepage') }}"><img src="{{ asset('bundles/phpcastswebsite/img/phpcasts-logo-vertical.png') }}" alt="" width="175" /></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if app.request.attributes.get('_route') == 'php_casts_website_proposal_create' %}class="active"{% endif %}><a href="{{ path('php_casts_website_proposal_create') }}">{{ 'phpcasts.website.navigation.submitProposal'|trans }}</a></li>
                        <li {% if app.request.attributes.get('_route') == 'php_casts_website_proposal_list' %}class="active"{% endif %}><a href="{{ path('php_casts_website_proposal_list') }}">{{ 'phpcasts.website.navigation.viewSubmissions'|trans }}</a></li>
                        <li {% if app.request.attributes.get('_route') == 'php_casts_website_screencast_list' %}class="active"{% endif %}><a href="{{ path('php_casts_website_screencast_list') }}">{{ 'phpcasts.website.navigation.viewPublishedScreencasts'|trans }}</a></li>
                        {#<li class="disabled"><a href="">{{ 'phpcasts.website.navigation.sendYourScreencast'|trans }}</a></li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://github.com/phpcasts/website">{{ 'phpcasts.website.navigation.contribute'|trans }}</a></li>
                        <li><a href="{{ path('php_casts_website_about') }}">{{ 'phpcasts.website.navigation.aboutUs'|trans }}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="big-header">
            {% block bigHeader %}{% endblock %}
        </div>

        <div class="container">
            <div class="content">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="text-muted">
                    <a href="{{ path('php_casts_website_homepage') }}">© <strong>php</strong>casts.org</a> – {{ 'phpcasts.website.footer.allRightsReserved'|trans }}.
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        {% block javascripts %}
            {% javascripts
                '@PHPCastsWebsiteBundle/Resources/public/assets/bootstrap/js/bootstrap.min.js'
                '@PHPCastsWebsiteBundle/Resources/public/js/main.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
