{% extends 'PHPCastsWebsiteBundle:Layout:base.html.twig' %}

{% block bigHeader %}
    <div class="presentation">
        <img src="{{ asset('bundles/phpcastswebsite/img/phpcasts-logo-white.png') }}" width="150" alt="" />
    </div>
{% endblock %}

{% block content %}
<div class="proposals">
    <div class="panel panel-default">
        <div class="panel-heading uppercase">{{ 'phpcasts.website.home.proposals.header'|trans }}</div>

        <table class="table">
            <thead>
                <tr class="uppercase">
                    <th width="5%"><i class="fa fa-barcode"></i></th>
                    <th width="15%"><i class="fa fa-sort-amount-desc"></i> {{ 'phpcasts.website.home.proposals.table.header.votes'|trans }}</th>
                    <th><i class="fa fa-video-camera"></i> {{ 'phpcasts.website.home.proposals.table.header.name'|trans }}</th>
                    <th width="15%"><i class="fa fa-th-large"></i> {{ 'phpcasts.website.home.proposals.table.header.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for proposal in proposals %}
                    <tr>
                        <td>{{ proposal.id }}</td>
                        <td>{{ proposal.votes }}</td>
                        <td>{{ proposal.name }}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-xs"><i class="fa fa-thumbs-o-up"></i> {{ 'phpcasts.website.home.proposals.table.actions.up'|trans }}</button>
                            <button type="button" class="btn btn-info btn-xs"><i class="fa fa-bars"></i> {{ 'phpcasts.website.home.proposals.table.actions.details'|trans }}</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}