{% extends 'PHPCastsWebsiteBundle:Layout:base.html.twig' %}

{% block bigHeader %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active presentation presentation-1">
            <div class="text">
                <h2>{{ 'phpcasts.website.home.presentation.1.title'|trans }}</h2>
                <h3>{{ 'phpcasts.website.home.presentation.1.text-line-1'|trans }}<br />{{ 'phpcasts.website.home.presentation.1.text-line-2'|trans }}</h3>
                <a class="btn btn-danger btn-lg" href="{{ path('php_casts_website_proposal_create') }}"><i class="fa fa-cloud-upload fa-fw"></i> {{ 'phpcasts.website.navigation.submitProposal'|trans }}</a>
            </div>
        </div>
        <div class="item presentation presentation-2">
            <div class="text">
                <h2>{{ 'phpcasts.website.home.presentation.2.title'|trans }}</h2>
                <h3>{{ 'phpcasts.website.home.presentation.2.text-line-1'|trans }}<br />{{ 'phpcasts.website.home.presentation.1.text-line-2'|trans }}</h3>
                <a class="btn btn-danger btn-lg" href="{{ path('php_casts_website_proposal_list') }}"><i class="fa fa-sort-amount-desc fa-fw"></i> {{ 'phpcasts.website.navigation.viewSubmissions'|trans }}</a>
            </div>
        </div>
        <div class="item presentation presentation-3">
            <div class="text">
                <h2>{{ 'phpcasts.website.home.presentation.3.title'|trans }}</h2>
                <h3>{{ 'phpcasts.website.home.presentation.3.text-line-1'|trans }}<br />{{ 'phpcasts.website.home.presentation.1.text-line-2'|trans }}</h3>
                <a class="btn btn-danger btn-lg" href="{{ path('php_casts_website_screencast_list') }}"><i class="fa fa fa-video-camera fa-fw"></i> {{ 'phpcasts.website.navigation.viewPublishedScreencasts'|trans }}</a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endblock %}

{% block content %}

    <div class="col-md-4">
        <h3 class="headline"><i class="fa fa-twitter-square"></i> {{ 'phpcasts.website.home.latestTweets'|trans }}</h3>
        <a class="twitter-timeline" href="https://twitter.com/phpcasts"
           data-widget-id="435976027840315393"
           data-screen-name="phpcasts" data-show-replies="true"
           data-tweet-limit="5"
        >Tweets by @phpcasts</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="col-md-4">
        <h3 class="headline"><i class="fa fa-cloud-upload"></i> {{ 'phpcasts.website.home.latestProposals'|trans }}</h3>
        <div class="latestProposals">
        {% for proposal in latestProposals %}
            <div class="item">
                <div class="bs-callout bs-callout-info">
                    <a href="{{ path('php_casts_website_proposal_view', {'slug': proposal.slug}) }}">{{ proposal.name }}</a>
                </div>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ proposal.votes }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ proposal.votes }}%">
                        <span class="progress-text"><strong>{{ proposal.votes }} votes</strong> ({{ 100 - proposal.votes }} to go)</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <h3 class="headline"><i class="fa fa-sort-amount-desc"></i> {{ 'phpcasts.website.home.latestScreencasts'|trans }}</h3>
        {% for screencast in latestScreencasts %}
            <div class="item">
                <a href="{{ screencast.url }}">{{ screencast.name }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}